
<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @profile.biography %>
</p>

<p>
  <strong>Image:</strong>
  <%= @profile.image %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
