
<h1>Jobs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Role</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.role %></td>
        <td><%= job.description %></td>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Apply', new_apply_path %></button></td>
        <% if company_signed_in? %>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Delete' %></button></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if company_signed_in? %>
  <button type="button" class="btn btn-primary"><%= link_to 'New Job Post', new_job_path %></button></td>
<% end %>


