<p id="notice"><%= notice %></p>

<h1>Cprofiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Skills</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cprofiles.each do |cprofile| %>
      <tr>
        <td><%= cprofile.name %></td>
        <td><%= cprofile.description %></td>
        <td><%= cprofile.skills %></td>
        <td><%= link_to 'Show', cprofile %></td>
        <td><%= link_to 'Edit', edit_cprofile_path(cprofile) %></td>
        <td><%= link_to 'Destroy', cprofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cprofile', new_cprofile_path %>
